# Backend
DATABASE_URL=sqlite+aiosqlite:///./db/duolingo.db
CORS_ORIGINS=http://localhost:3000,https://your-vercel-app.vercel.app
CORS_ORIGIN_REGEX=https://.*\.vercel\.app

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
